{% extends 'blog/base.html' %}

{% block content %}
    <script type="text/javascript">
      function delete_post(){
        alert("삭제 되었습니다.")
        location.href = "{% url 'delete' post.id %}"
      }
      function goHome(){
        location.href = "{% url 'main' %}"
      }
      function update_post(){
        alert("수정 페이지로 이동합니다.")
        location.href = "{% url 'update' post.id %}"
      }
    </script>

    <table border="1">
      <tr>
        <th>번호</th>
        <td>{{post.id}}</td>
      </tr>
      <tr>
        <th>작성자</th>
        <td>{{post.author}}</td>
      </tr>
      <tr>
        <th>제목</th>
        <td>{{post.title}}</td>
      </tr>
      <tr>
        <th>내용</th>
        <td>{{post.text | linebreaks}}</td>
      </tr>
      <tr>
        <th>날짜</th>
        <td>{{post.published_date}}</td>
      </tr>
    </table>
    <button type="button" name="button" onclick="goHome()">홈 화면</button>

    {% if okDelete %}
      <button type="button" name="button" onclick="delete_post()">삭제하기</button>
      <button type="button" name="button" onclick="update_post()">수정하기</button>
    {% endif %}
    <hr>
    <form class="" action="{% url 'detail' pk=post.pk %}" method="post">{% csrf_token %}
      {{form.as_p}}
      <input type="submit" name="" value="댓글 달기">
    </form>
    <hr>
    <h2><strong>댓글</strong></h2>
    {% for comment in post.comments.all %}
    <div>
        <div>{{ comment.created_date }}</div>
        <strong>{{ comment.title }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
    <hr>
    {% empty %}
    <p>첫 댓글을 달아 보세요!</p>
    {% endfor %}
{% endblock %}
